version: 2.1
jobs:
  build:
    docker:
      - image: circleci/php:7.2-node-browsers
      - image: circleci/mysql:5.7
    environment:
      - DB_CONNECTION: circle_test
    steps:
      - checkout
      - run: sudo docker-php-ext-install pdo_mysql
      - restore_cache:
        key: composer-v1-{{ checksum "composer.lock" }}
      - run: composer install -n --prefer-dist
      - save_cache:
        key: composer-v1-{{ checksum "composer.lock" }}
        paths:
          - vendor
      - run: npm ci
      - run: npm run dev
      - run:
          name: php test
          command: vendor/bin/phpunit